www.shanmon74.ru {
    redir https://shanmon74.ru{uri} permanent
}

shanmon74.ru {
    # Новый XHTTP inbound
    handle /api/v2/content* {
        reverse_proxy 3x-ui:10001
    }

    # Старый WebSocket — временно оставляем
    handle /api/system/status {
        @websocket {
            header Connection *Upgrade*
            header Upgrade websocket
        }

        reverse_proxy @websocket 3x-ui:10000
        respond 404
    }

    # Подписки
    handle /sub/* {
        reverse_proxy 3x-ui:2096
    }

    # Все остальные запросы — настоящий сайт
    handle {
        reverse_proxy nginx:80
    }
}