www.shanmon74.ru {
    redir https://shanmon74.ru{uri} permanent
}
shanmon74.ru {
    log {
        output stdout
        format console
    }

    handle /api/v2/content* {
        reverse_proxy 3x-ui:10001
    }


    handle /sub/* {
        reverse_proxy 3x-ui:2096
    }

    handle {
        reverse_proxy nginx:80
    }
}